.footer {
  width: 1150px;
  margin: auto;
  margin-bottom: 36px;
  margin-top: 40px;
}

.items {
  margin-bottom: 12px;
}

.email-btn {
  height: 48px;
  width: 100%;
  border: 1px solid #e1e1e1;
  border-radius: 50px;
  padding-left: 30px;
  font-size: 14px;
  color: #666666;
  display: flex;

  input {
    font-size: 16px;
    padding: 4px 0;
  }

  button {
    font-size: 14px;
    color: #ffffff;
    background: #ca1515;
    font-weight: 600;
    border: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 12px 30px;
    border-radius: 50px;
  }
}

.media-list {
  margin-top: 32px;
  display: flex;
  .icon {
    font-size: 30px;
    margin-right: 24px;
  }
}

.copyright {
  border-top: 1px solid #e1e1e1;
  width: 1150px;
  text-align: center;
  margin: auto;

  p {
    margin-top: 20px;
  }
}
