.services-list {
  // max-width: 1150px;
  // margin: auto;
  // justify-content: space-between;
  // margin-bottom: 42px;
}

.services-item {
  display: flex;
  align-items: center;
}

.icon {
  font-size: 36px;
  margin-right: 24px;
  color: #ca1515;
}
