.services-list {
  display: flex;
  width: 1150px;
  margin: auto;
  justify-content: space-between;
  margin-bottom: 42px;
}

.services-item {
  display: flex;
  align-items: center;
}

.icon {
  font-size: 24px;
  margin-right: 12px;
  color: #ca1515;
}
